@charset "utf-8";
/* CSS Document */
/**[fonts]**/
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf'); 
}

html, body{
	background-color: white;
	box-sizing: border-box;
	font-size: 12pt;
	font-family: Poppins-Regular;
	margin: 0px;
	position: absolute;
	padding: 0px;
	width: 100%;
	height: 100%;
}

a{
	text-decoration:none;
}
.main-container{
	box-sizing: border-box;
	background-color:white;
	margin:0px;
	width:100%;
	height:auto;
}
.header{
	background-color: black;
	box-sizing: border-box;
	color: #4B8BF4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 15px;
	width: 100%;
	height: 60px;
}
.header-logo{
	box-sizing:border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	height:100%;
}
.title-page{
	background: #8CE4F7;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
	margin: 10px auto; 
	width: 90%;
	height: 60px;
}
.btn{
	background: grey;
	border: solid 1px white;
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:100%;
	text-align:center;
	padding: 5px 10px;
	width: auto;
	height: 30px;
}
.btn:hover{
	opacity: 0.5;
}
.gen-margin{
	margin: 20px 50px;
}
.msg{
	background: #E2E3E5;
	border: solid 1px  grey;
	border-radius: 10px;
	color: #383D41; 
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding: 5px;
}
.success-msg{
	background: 
	border: solid 1px #155724;
	color: #155724;
}
.info-msg{
	background: #CCE5FF;
	border: solid 1px #264085;
	color: #264085;
}
.error-msg{
	background: #F8D7DA;
	border: solid 1px #721C24;
	color: #721C24;
}