.change-engineForm{
	background: #F9F9FA;
	border: solid 1px #BEBEBF;
	display: flex;
	padding: 10px;	
}
.engine-name, .db-name{
	border: solid 1px #BEBEBF;
	width: 200px;
	height: 30px;
}
.change-btn{
	background: #4B8BF4;
	cursor: pointer;
}